body {
    padding-top: 100px;
    background: #ededed;
}

.player {
    padding: 0;
    margin: 0;
    background: #000000;
}

.player > .container-fluid {
    padding: 0;
    margin: 0;
}

.player video {
    max-width: 99vw;
    max-height: 99vh;
    width: 100vw;
}

div.top-left {
    top: 1em;
    left: 1em;
    position: fixed;
    z-index: 99;
}

.navbar.navbar-transparent {
    background: transparent;
    height: 100px;
}

.navbar.navbar-transparent a {
    color: #8b9dc3;
}

.navbar.navbar-transparent .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

body.landing {
    background: url("/Content/Images/landing.jpg");
    -ms-background-size: cover;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.body-content.landing, .center-block.landing {
    background: #FFFFFF;
    background: rgba(255, 255, 255, .7);
}

.center-block.landing {
    width: 20%;
    padding: 6px 12px;
}

.green {
    color: green;
}

.gray {
    color: #202020;
}

.subscription-model {
    background: #b0e0e6;
    background: rgba(176, 224, 230, .6);
    border: 1px solid steelblue;
    -ms-border-radius: 15px;
    border-radius: 15px;
    margin: 0 6px;
    padding: 0 -6px;
}

.subscription-model-even {
    background: #008000;
    background: rgba(128, 192, 128, .6);
    border: 1px solid #006400;
    margin: 0 3px;
    padding: 0 -3px;
    font-size: 1.3em;
}

footer {
    background: #000000;
    background: rgba(0, 0, 0, .6);
    color: white;
    width: 100%;
    margin: 0;
    padding: 1em;
}

footer.fixed {
    position: fixed;
    bottom: 0;
}

.btn-fb {
    background: #3b5998;
    color: white;
}

.btn-fb:hover {
    background: #8b9dc3;
    color: white;
}

.btn-media {
    white-space: initial;
    height: 400px;
    border: 3px solid transparent;
}

.btn-media:hover {
    border: 3px solid #8b9dc3;
}

.btn-media > img {
    max-height: 375px;
}

tr.selected, tr.selected td {
    background: rgba(40, 128, 40, 0.1) !important;
}